/*-------------------------PROJECT REQUIREMENTS------------------------------------------
Your project should demonstrate your proficiency with these concepts:
	-- Layout
	-- Backgrounds
	-- Comments
	-- Validation

You will be graded on your ability to demonstrate a proficiency in each of these concepts and you will see these reflected in the grading rubric provided. Below are the concepts broken down into the requirements for the project:

1.  Layout
	-- Create a two or three column layout with floats and <div> elements, using the following CSS properties:
		-- width
		-- float
		-- padding
		-- margin
		-- clear
2.  Convert to Liquid Layout
	-- After creating the multicolumn layout, convert the fixed width layout to a liquid layout. The following properties should be converted from pixels values to percentages:
		-- width
		-- margin
	-- Convert any font-size properties from pixel values to ems. If you need help converting, use the pixel-to-em converter in the Resources.
3.  Backgrounds
	-- Add a repeating background image using these CSS properties (use the Resources to download a repeating pattern image):
		-- background-image
		-- background-repeat
		-- background-position
	-- Add a non-repeating background image using these CSS properties (use the Resources to download an icon image):
		-- background-image
		-- background-repeat
		-- background-position
	-- Add a CSS gradient using this CSS property (use the CSS gradient generator in the Resources):
		-- background
4.  Comments
	-- Add comments to both your HTML and CSS to help with organization. For example, HTML comments where divs close ("end content") and CSS comments to split the stylesheet into different sections ("main styles", "navigation", "layout", etc.).
5.  Validation
	-- Make sure both your HTML and CSS are valid using the W3C Validation Services.

Note: 
-- Make sure you are creating a multi-column layout by floating <div> elements to receive credit. Don't forget to clear your floats too.
-- Make sure to convert from pixel values to percentages. Drag the browser window to see how the layout of the page changes with the liquid layout.
*/

/*------------------------------------[  CSS  ]----------------------------------------*/

/*-----------------------------------[  LAYOUT  ]-------------------------------------*/


body {
	font-size: 0.9em;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;	
	background-image:  url("../images/pattern_038.gif");
}

#page {
	width:  90%;
	border:  10px double #accfcc;
	padding:  20px;	
	margin:  1% auto 1% auto;
	background-color: #ffffff;
	opacity:  0.75;
	overflow: auto;
}

/*------------------------------[  MAIN FONT STYLES ]----------------------------------*/


h1, h2, h3 {            /*---------Heading Styles---------------*/
	font-family: 'Raleway', sans-serif;
	color: #8A0917;
	text-align: center;
	line-height: 1.5em;
	text-shadow: 1px 1px 0px #000000;
}	


p {						/*---------Paragraph Style---------------*/
	margin:  2% auto 2% auto;
}

em {					/*---------Emphasis Style---------------*/
	font-style: italic;
}

ol { 					/*---------Ordered List Style---------------*/
	width:  20%;
	margin: 1% auto;
	list-style-type: decimal-leading-zero;
}


/*------------------------------[  SPECIALTY ITEMS ]----------------------------------*/

#special {				/*---------Special box under heading 1---------------*/
	opacity:  1.0;
	border: 5px solid #accfcc;
	width: 65%;
	margin: 1% auto;
	padding: 5px; 
	box-shadow: inset 0 0 10px #000;
	text-align: center;
	
	/* background gradient: */
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
	/* end of gradient */
}

/*------------------------------[  FIGURES / GALLERY ]--------------------------------*/
#gallery-content {
	width: 70%;
	margin:  2% auto 2% auto;
	overflow: auto;
}

.entry {
	font-size: 0.7em;
	width:  31.3%;
	float: left;
	margin:  1% auto;
}	

figure {		/*---------Images + Fig Caption---------------*/
	width:  85%;
	margin: 1%;
	padding: 9px;
	background-color: #e7e3d8;
	
}

img {			/*---------Images---------------*/
	width:  95%;
	height: 95%;
	border: 5px solid #accfcc;
	border-radius:  50px;
}

figcaption {	/*---------Fig Caption---------------*/
	text-align:  center;	 
	padding:  5px 0px 0px 25px;
}


/*-------------------------------[  NAVIGATION  ]------------------------------------*/

#navigation{
	list-style-type: none;
	text-align: center;
	width: 100%;
	margin: 1% auto;
	padding: 5px; 
	font-size:  0.8em;
}


#navigation li {			/*---------Navigation Links---------------*/
	display:  inline;
	border: 5px solid #accfcc;
	border-radius:  10px;
	background-color:  #D7D6CB;
	padding: 10px;
	margin:  0 .5%;
	
}

#nav_to_top {
		background-image:  url("../images/up_arrow.png");
		background-repeat: no-repeat;
		background-position: left bottom;
		height: 60px;
}


/*----------------------------------[  LINKS  ]--------------------------------------*/

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color:  #8A0917;
	font-weight: bold;
}
	
a:hover {
	color: #8A0917;
	text-decoration: underline;
}

a:active {
	color:  #accfcc;
}

/*----------------------------------[  COLUMNS  ]--------------------------------------*/

#column1of2, #column2of2 {
	width: 49%;
	float: left;
	margin: 1% auto;	
}

#column1of2 p, #column2of2 p {
	width: 80%;
		
}


/*----------------------------------[  CLEAR  ]--------------------------------------*/

.clear {
	clear: both;
}