body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $carmel;
    -webkit-text-size-adjust: 100%;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1{
	color:  #ff5a0b;
    font-family: 'Oswald', sans-serif;
}

#mission{
    padding: 30px 0;
}



/* Links */
a {
    color: $orange;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/* Blockquotes */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/* Footer */
.site-footer p{
	margin: 0 auto;
    text-align: center;
}