/* -------  Site Header ------- */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title a{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

.site-header img{
    margin: 20px auto 20px;
    width:  100%;
    height: auto;
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $orange;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/* -------  Site Footer ------- */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-wrapper{
    margin:0 auto;
    width: 90%;
    max-width:  400px;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    /*padding-left: $spacing-unit / 2;*/
}

.footer-col-1 {
    width: 32.5%;
}

.footer-col-2 {
    width: 32.5%;
}

.footer-col-3 {
    width: 32.5%;
}

.footer-col img{
    margin: 0 auto;
}

.sm-icon {
    fill: $orange;
    margin: 0 auto;
}

.sm-icon:hover{
    fill: $red;
}

/*@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}*/

/*@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}*/



/* -------  Page Content ------- */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

#col_left{
    width: 45%;
    float:left;
}

#col_right{
    width: 45%;
    float: right;
    
}

@include media-query(700px){
    #col_left, #col_right{
        width:100%;
        float:none;
    }
}

