<h1>Add a new pony!</h1>


<form ng-submit="onSave()">

	<div class="form_left">Name:</div>
	<input class="form_right" type="text" ng-model="pony.name"/><br/>

	<div class="form_left">Image:</div>
	<input class="form_right" type="text" ng-model="pony.image"/><br/>

	<div class="form_left">Color:</div>
	<input class="form_right" type="text" ng-model="pony.color"/><br/>

	<div class="form_left">Kind:</div>
	<input class="form_right" type="text" ng-model="pony.kind"/><br/>

	<button type="submit">Submit</button>


</form>