<footer class="site-footer">

  <div class="wrapper">
  	<div class="footer-wrapper">

	    <div class="footer-col footer-col-1">
		    <a href="https://instagram.com/pigfloyds/">
		    	<svg>
					<use xlink:href="#instagram"></use>
				</svg>
		    </a>
		</div>
		    
		<div class="footer-col footer-col-2">    
			<a href="https://www.facebook.com/pigfloyds">
								<svg>
					<use xlink:href="#facebook"></use>
				</svg>
			</a>
		</div>
		
		<div class="footer-col footer-col-3">	
			<a href="https://twitter.com/PIGFLOYDS">
				<svg>
					<use xlink:href="#twitter"></use>
				</svg>	
			</a>
		</div>	
	</div><!-- end footer-wrapper -->	
  </div><!-- end wrapper -->

  <div class="wrapper">
	<p>&copy 2015</p>
  </div><!-- end wrapper -->

</footer>
